# Created by .ignore support plugin (hsz.mobi)
build
gradle
.gradle
.idea
SRJie.iml
.gradle/
.idea/misc.xml
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/dependency-cache/
app/build/intermediates/exploded-aar/SRJie/library/unspecified/aidl/
app/build/intermediates/exploded-aar/SRJie/library/unspecified/assets/
app/build/intermediates/exploded-aar/SRJie/library/unspecified/jni/
app/build/intermediates/exploded-aar/SRJie/library/unspecified/libs/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-core/2.2.2/aidl/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-core/2.2.2/assets/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-core/2.2.2/res/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-idling-resource/2.2.2/aidl/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-idling-resource/2.2.2/assets/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-idling-resource/2.2.2/res/
app/build/intermediates/exploded-aar/com.android.support.test/exposed-instrumentation-api-publish/0.5/aidl/
app/build/intermediates/exploded-aar/com.android.support.test/exposed-instrumentation-api-publish/0.5/assets/
app/build/intermediates/exploded-aar/com.android.support.test/exposed-instrumentation-api-publish/0.5/res/
app/build/intermediates/exploded-aar/com.android.support.test/rules/0.5/aidl/
app/build/intermediates/exploded-aar/com.android.support.test/rules/0.5/assets/
app/build/intermediates/exploded-aar/com.android.support.test/runner/0.5/aidl/
app/build/intermediates/exploded-aar/com.android.support.test/runner/0.5/assets/
app/build/intermediates/exploded-aar/com.android.support.test/runner/0.5/res/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.0/assets/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.0/jni/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.0/libs/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.0/res/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.0.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.0.0/assets/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.0.0/jni/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.0.0/libs/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.0.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.0.0/jni/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.0.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.0.0/res/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.0/jni/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.0/res/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.0/jni/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.0/res/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.0/jni/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.0/res/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.0.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.0.0/jni/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.0.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.0.0/res/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.0/jni/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.0/res/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.0/jni/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.0/res/
app/build/intermediates/exploded-aar/com.github.orhanobut/hawk/1.21/aidl/
app/build/intermediates/exploded-aar/com.github.orhanobut/hawk/1.21/assets/
app/build/intermediates/exploded-aar/com.github.orhanobut/hawk/1.21/jni/
app/build/intermediates/exploded-aar/com.github.orhanobut/hawk/1.21/libs/
app/build/intermediates/exploded-aar/com.github.orhanobut/hawk/1.21/res/
app/build/intermediates/exploded-aar/com.qy.easyframe/easyframe/3.0.0/aidl/
app/build/intermediates/exploded-aar/com.qy.easyframe/easyframe/3.0.0/assets/
app/build/intermediates/exploded-aar/com.qy.easyframe/easyframe/3.0.0/jni/
app/build/intermediates/exploded-aar/com.qy.easyframe/easyframe/3.0.0/libs/
app/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/aidl/
app/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/assets/
app/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/jni/
app/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/libs/
app/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/res/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageRelease/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/jniLibs/
app/build/intermediates/manifest/tmp/
app/build/intermediates/manifests/instant-run/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/transforms/mergeJniLibs/
app/build/intermediates/transforms/stripDebugSymbol/
app/build/tmp/
app/libs/
build/
